/* ------------------------------------------ */
/* DEFAULT STYLE OF THE WEBPAGE */

body{
    font-family: Futura,Trebuchet MS,Arial,sans-serif;
    margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}